@font-face {
  font-family: 'Market Sans Regular WebS';
  src: url('../fonts/MarketSans-Regular-WebS.eot');
  src: url('../fonts/MarketSans-Regular-WebS.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/MarketSans-Regular-WebS.woff2') format('woff2'),
    url('../fonts/MarketSans-Regular-WebS.woff') format('woff'),
    url('../fonts/MarketSans-Regular-WebS.ttf') format('truetype'),
    url('../fonts/MarketSans-Regular-WebS.svg#MarketSans-Regular-WebS')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Market Sans SemiBold WebS';
  src: url('../fonts/MarketSans-SemiBold-WebS.eot');
  src: url('../fonts/MarketSans-SemiBold-WebS.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/MarketSans-SemiBold-WebS.woff2') format('woff2'),
    url('../fonts/MarketSans-SemiBold-WebS.woff') format('woff'),
    url('../fonts/MarketSans-SemiBold-WebS.ttf') format('truetype'),
    url('../fonts/MarketSans-SemiBold-WebS.svg#MarketSans-SemiBold-WebS')
      format('svg');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Market Sans Regular WebS', Helvetica, Arial, sans-serif;
  background-color: #feffef;
  min-width: 320px;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.search-field-container {
  display: flex;
  width: 100%;
  height: 200px;
}

.convertedlinks-container {
  display: flex;
}
