.search-box {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $purple;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
  input::placeholder {
    color: rgba(260, 260, 260, 0.6);
  }
  &:hover {
    .search-txt {
      width: 300px;
      padding: 0 6px;
    }
  }
}

.search-link {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $purple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn {
  border: none;
  background: none;
  outline: none;
  color: rgba(260, 260, 260, 0.9);
  width: 40px;
  height: 40px;
  font-size: 16px;
  &:hover {
    cursor: pointer;
  }
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0 6px;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 300px;
}
